# **Lesson 1**

# Introduction Python, Data Types, and Variables

In [2]:
print("Hello World")

Hello World

## Integers

In [1]:
print(10)
print(type(10))

10
<class 'int'>

In [2]:
print(123135465457498796432132468765+12)

123135465457498796432132468777

## Floating-Point Numbers

In [3]:
print(4.2)
print(type(4.2))

4.2
<class 'float'>

In [4]:
print(.4) # artinya ada 0 didepan koma

0.4

In [5]:
print(2.) # artinya ada 0 dibelakang koma

2.0

In [6]:
print(.4e7) #artinya e itu melambangkan bilangan bulat positif atau negatif 
            #terus ditambahkan dengan angka dibelakakngnya

4000000.0

In [8]:
print(4.2e-4)

0.00042

## String

tipe data string biasanya valuenya diapit dengan tanda kutip ganda maupun kutip tunggal

In [9]:
print("Hello, World")
print(type("Hello, World"))

Hello, World
<class 'str'>

In [11]:
print('It\'s True')# apabila terdapat kalimat yang ada kutip tunggal dan 
                #kita menggunakannya kutip tunggal maka harus di blok dengan backslash

It's True

## Boolean

In [12]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Complex

In [13]:
a = 5 + 8j
print(a)
type(a)

(5+8j)

complex

## Variable Assignment

In [14]:
n = "Hello, World"
print(n)

Hello, World

In [15]:
n

'Hello, World'

## Variable Types and Variable Names in Python

- Nama variable terdiri dari huruf besar dan kecil (A-Z,a-z)
- Digit (0-9) dan garis bawah ( _ )
- Nama variable tidak boleh diawali angka tetapi boleh diawali garis bawah
- Huruf besar dan kecil tidak sama meskipun nama variablenya sama

In [16]:
name = "Arif Munandar"
Age = 21
has_laptop = True
print(name, Age, has_laptop)

Arif Munandar 21 True

In [17]:
age = 1
Age = 2
aGe = 3
AGE = 4
_age = 5
a_g_e = 6
age_ = 7
_AGE_ = 8
print(age,Age,aGe,AGE,_age,a_g_e,age_,_AGE_, sep=",")

1,2,3,4,5,6,7,8

Metode untuk membuat variable ada tiga : 
- Camel Case contoh => (iniVariableCamelCase)
- Pascal Case contoh => (IniVariablePascalCase)
- Snake Case contoh => (ini_variable_snake_case)

## Operators and Exspresions in Python

### Arithmetic Operators

In [1]:
a = 5
b = 4

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) #modulus
print(a**b) #pangkat

9
1
20
1.25
1
625

### Comparison Operators

In [2]:
a = 10
b = 20

print(a==b)
print(a>=b)
print(a<=b)
print(a!=b)

False
False
True
True

### Operator Penugasan

In [6]:
a = 5 
a -= 2 # dikurangi
a += 3 # ditambahkan
a *= 10 # dikalikan
a /= 2 # dibagi
a **=3 # dipangkatkan
print(a)

27000.0

### String Manipulation

In [9]:
s = "use"
t = "bar"
u = "put"
print(t + u + s)

barputuse

In [10]:
print("hai"*10)

haihaihaihaihaihaihaihaihaihai

In [11]:
print(s in "putus")

False

In [12]:
i = "Hello World"

print(i.capitalize())
print(i.lower())
print(i.title())
print(i.upper())
print(i.swapcase())

Hello world
hello world
Hello World
HELLO WORLD
hELLO wORLD

In [12]:
nama = "Arif Munandar"
print(f'Nama saya {nama}')

Nama saya Arif Munandar

## Python List

- Berisi item yang dipisahkan dengan koma dan diapit dalam tanda kurung siku ([])
- Nilai yang disimpan dapat diakses menggunakan operator irisan ([] dan [:]) dengan indeks mulai dari 0.
- List bersifat mutable (dapat di ubah/ dimanipulasi)

In [1]:
mylist = ['abcd', 123, 2.33, 'Joni', 70.2]
tinylist = [456, 'Johntor']

print(mylist)
mylist.append('Koko')#menambah isi list tapi dibelakang
print(mylist)
mylist.insert(2, 'python')#menambah nilai tetapi ditentukan letaknya
print(mylist)
mylist.remove(123)#menghapus nilai dari list
print(mylist)
mylist.pop(3)#menghapus nilai dari posisi yang ditentukan
print(mylist)
mylist.extend(tinylist)#menambah list dari list lainnya
print(mylist)

['abcd', 123, 2.33, 'Joni', 70.2]
['abcd', 123, 2.33, 'Joni', 70.2, 'Koko']
['abcd', 123, 'python', 2.33, 'Joni', 70.2, 'Koko']
['abcd', 'python', 2.33, 'Joni', 70.2, 'Koko']
['abcd', 'python', 2.33, 70.2, 'Koko']
['abcd', 'python', 2.33, 70.2, 'Koko', 456, 'Johntor']

In [3]:
a = ['foo', 'bar', 'baz', 'quux', 'qux', 'corge']
print(len(a))
print(max(a))
print(min(a))

6
qux
bar

In [4]:
print(mylist[:2])

['abcd', 'python']

In [6]:
tinylist[1:3] = a
print(tinylist)

[456, 'foo', 'bar', 'baz', 'quux', 'qux', 'corge', 'baz', 'quux', 'qux', 'corge']

## Python Tuples

- Berisi item yang dipisahkan dengan koma dan diapit dalam tanda kurung ().
- Tuple bersifat imutable (tidak bisa diubah)

In [8]:
tuple_items = ('Cars', 788, 2.33, 'toyota', 70.2)
tinytuple = (123, 'wuling')

print(tuple_items)
print(tuple_items[0])
print(tuple_items[1:5])
print(tuple_items[2:])
print(tinytuple*2)
print(tuple_items+tinytuple)

('Cars', 788, 2.33, 'toyota', 70.2)
Cars
(788, 2.33, 'toyota', 70.2)
(2.33, 'toyota', 70.2)
(123, 'wuling', 123, 'wuling')
('Cars', 788, 2.33, 'toyota', 70.2, 123, 'wuling')

## Dictionary

- Berisi item yang diapit dalam tanda kurung kurawal {}.
- **Key** mengidentifikasi item dan **value** menyimpan nilai item. Nilai dapat diakses dengan [].

In [9]:
dict = {}
dict['one'] = "This is one"
dict[2] = "This is two"

tinydict = {'name':"john", 'code':53382, 'dept': "sales"}

print(dict['one'])
print(dict[2])
print(tinydict.keys())
print(tinydict.values())

This is one
This is two
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 53382, 'sales'])

## Set

- Kumpulan nilai yang dipisahkan dengan koma dan diapit tanda kurung kurawal {}.
- Tidak berurutan, bisa berubah dan tidak mendukung pengulangan elemen.
- Bersifat iretable.

In [10]:
setA = {2,4,5,6,5,6,5,4}
setB = {1,2,5,4,6,3}

print(setA, type(setA))
print(len(setA))
setA.add(8); print(setA)#menambah
print(setA.union(setB))#untuk menggabungkan
print(setA.intersection(setB)) #untuk melihat irisan

{2, 4, 5, 6} <class 'set'>
4
{2, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 6, 8}
{2, 4, 5, 6}