# Lesson 2

In [ ]:
print('Hello World')

Hello World

## Conditional

In [1]:
angka = 9
print(f'{angka}')

9

In [3]:
if angka > 1:
    print(f"{angka} lebih besar dari 1")
else:
    print(f"{angka} uncondition")

9 lebih besar dari 1

In [5]:
if True:
    print(f"{angka} adalah integer")

9 adalah integer

In [6]:
x = 0
y = 5

if x < y:
    print(f"{x} kurang dari {y}")

0 kurang dari 5

In [7]:
if 'haul' in 'grault':
    print('yes')
    
if "quux" in ["foo", "bar", "baz"]:
    print("yes")

### Grouping Statements

In [8]:
if 'foo' in ['bar','baz','qux']:
    print("Expression was true")
    print("Executing statement in suite")
    print(".....")
    print("Done.")
print("After condition")

After condition

In [11]:
# Contoh Nested if else
var = 50
if "foo" in ["foo","bar","baz"]:
    print("Outer condition is true")
    
    if var < 100:
        print(f"{var} lebih kecil dari 100")
        if var == 150:
            print("var adalah 150")
        elif var == 50:
            print("var adalah 50")
        elif var < 50:
            print("var lebih kecil dari 50")
    else:
        print("Tidak diketahui")
    print("Good Bye.")
    
    print("Between inner condition")
    
    if 4%2==0:
        print("yes")
    print("End of outer condition")
print("after outer condition")

Outer condition is true
50 lebih kecil dari 100
var adalah 50
Good Bye.
Between inner condition
yes
End of outer condition
after outer condition

In [10]:
# Contoh
nilai = 85
if (nilai >= 90):
    grade = "A"
elif (nilai >= 80):
    grade = "B+"
elif(nilai >= 70):
    grade = "B"
elif(nilai >= 60):
    grade = "C+"
elif(nilai >= 50):
    grade = "C"
elif(nilai >= 40):
    grade = "D"
else:
    grade = "E"
    
print("Grade: %s" % grade)

Grade: B+

In [12]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("Beli Buku")
elif uang > hargaMajalah:
    print("Beli Majalah")
else:
    print("Uang tidak cukup")

Uang tidak cukup

In [13]:
raining = False
print("Let's go to the", 'Beach' if not raining else 'Library')

Let's go to the Beach

In [16]:
if not raining:
    print("beach")
else:
    print("library")

beach

In [17]:
# Contoh Ternary
umur = 21
aku = "dih bocah" if umur < 10 else "wah tua"
print(aku)

wah tua

## Looping

In [24]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [26]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

#### Break and Continue Statement

In [27]:
n = 5
while n > 0:
    n -= 1
    if n == 2: #Jika n diketahui adalah 2 maka akan berhenti
        break
    print(n)
print("Loop ended")

4
3
Loop ended

In [28]:
n = 10
while n > 0:
    n -= 1
    if n == 7: #Jika n diketahui adalah 7 maka akan dilewati
        continue 
    print(n)
print('Loop ended')

9
8
6
5
4
3
2
1
0
Loop ended

In [35]:
i = 1
while i <= 10:
    print(f"{i} dikali 7 adalah {i*7}")
    i += 1

1 dikali 7 adalah 7
2 dikali 7 adalah 14
3 dikali 7 adalah 21
4 dikali 7 adalah 28
5 dikali 7 adalah 35
6 dikali 7 adalah 42
7 dikali 7 adalah 49
8 dikali 7 adalah 56
9 dikali 7 adalah 63
10 dikali 7 adalah 70

In [37]:
# Contoh Nested while loops
age = 50
gender = 'M'
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print("father")
    else:
        print("mother")
else:
    if gender == 'M':
        print("grandfather")
    else:
        print("grandmother")

father

#### Numeric Range Loop

In [41]:
# bentuk umum : for index in range (banyaknya_perulangan)

ulang = 10

for i in range(ulang):
    print(f"Perulangan ke-{i}")

Perulangan ke-0
Perulangan ke-1
Perulangan ke-2
Perulangan ke-3
Perulangan ke-4
Perulangan ke-5
Perulangan ke-6
Perulangan ke-7
Perulangan ke-8
Perulangan ke-9

In [39]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
# Contoh mengunakan List
a = ['banana','pisang','appel','orange']
for i in a: #Dilooping agar urut ke bawah
    print(i)

banana
pisang
appel
orange

In [2]:
# Contoh menggunakan Dictionary
mhs = {
    "nama" : "Arif Munandar",
    "nim" : "19SA1270",
    "prodi" : "Informatika",
    "kampus" : "Universitas Amikom Purwokerto",
    "hobi" : ["coding","nonton anime","game", "rebahan"],
    "menikah" : False,
    "sosmed" : {
        "instagram" : "arifmunandar_14",
        "facebook" : "ngga aktif"
    }
}
# menambahkan telp
mhs.update({"telp" : "082327201434"}) 
for key, val in mhs.items():
    print("%s : %s" % (key,val))
print("=" * 35)
print("Total data: %d" % len(mhs))

nama : Arif Munandar
nim : 19SA1270
prodi : Informatika
kampus : Universitas Amikom Purwokerto
hobi : ['coding', 'nonton anime', 'game', 'rebahan']
menikah : False
sosmed : {'instagram': 'arifmunandar_14', 'facebook': 'ngga aktif'}
telp : 082327201434
===================================
Total data: 8